<div class="container">
<table class="table table-striped">
  <thead>
    <th>Isbn</th>
    <th>Title</th>
    <th>PublishDate</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Page Count</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of bookList$|async">
      <td>{{item.isbn}}</td>
      <td>{{item.title}}</td>
      <td>{{item.publishDate}}</td>
      <td>{{item.authorFullName}}</td>
      <td>{{item.genreType}}</td>
      <td>{{item.pageCount}}</td>
    </tr>
  </tbody>
</table>
</div>