<div class="container">
    <div class="card mb-4 box-shadow">
        <a [routerLink]="['/book-info', book.bookId]"><img class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="{{book.title}}" src="{{book.url}}" data-holder-rendered="true"></a>
        <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <a [routerLink]="['/book-info', book.bookId]" class="btn btn-light me-2">Подробнее</a>
            <a [routerLink]="['/book-available-for-booking', book.bookId]" class="btn btn-light">Бронировать</a>
        </div>
    </div>
</div>