<div class="container">
    <div class="row">
        <div class="col-md-6" style="float:none;margin:auto;">
            <form [formGroup]="bookingForm" *ngIf="!isFormSent" (ngSubmit)="submitBooking()" data-toggle="validator" role="form">
                <div class="form-group">
                    <label for="inputName" class="control-label" required >Ваше имя*</label>
                    <input formControlName="name" type="text" maxlength="20" class="form-control" id="inputName"
                        placeholder="Введите Ваше имя" required>
                    <p *ngIf="this.bookingForm.get('name')?.invalid"><small class="form-text text-muted">*Данное поле
                            обязательно!</small></p>
                </div>
                <div class="form-group">
                    <label for="inputSurname" class="control-label">Ваша фамилия*</label>
                    <input formControlName="surname" type="text" maxlength="20" class="form-control"
                        id="inputSurname" placeholder="Введите Вашу Фамилию">
                    <p *ngIf="this.bookingForm.get('surname')?.invalid"><small class="form-text text-muted">*Данное
                            поле обязательно!</small></p>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="control-label">Ваш E-mail*</label>
                    <input formControlName="email" type="email" class="form-control" id="inputEmail"
                        placeholder="Email" data-error="Вы не правильно ввели Ваш E-mail" required>
                    <div class="help-block with-errors"></div>
                    <p *ngIf="this.bookingForm.get('email')?.invalid"><small class="form-text text-muted">*Данное
                            поле обязательно!</small></p>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="control-label">Ваш телефон*</label>
                    <input formControlName="phone" type="text" placeholder="Телефон: +375-xx-xxx-xx-xx"
                        class="form-control" id="inputPhone" name="phone" maxlength="12" />
                    <p *ngIf="this.bookingForm.get('phone')?.invalid"><small class="form-text text-muted">*Данное
                            поле обязательно!</small></p>
                    <small id="emailHelp" class="form-text text-muted">Данные не будут переданы третьим лицам или
                        использованы без согласия с Вашей стороны.</small>
                </div>
                <!-- <div class="form-group">
                    <label for="inputPassword" class="control-label">Введите пароль</label>
                    <div class="form-inline row">
                        <div class="form-group col-sm-6">
                            <input type="password" data-toggle="validator" data-minlength="6" class="form-control"
                                id="inputPassword" placeholder="123456" required>
                            <span class="help-block">Минимум 6 значений</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="password" class="form-control" id="inputPasswordConfirm"
                                data-match="#inputPassword" data-match-error="Ошибка! Пароли не совпадают!"
                                placeholder="Повторите пароль" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                    <button [disabled]="bookingForm.invalid" type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
            <app-success-booking *ngIf="isFormSent" [booking] = "booking"></app-success-booking>
        </div>
    </div>
</div>