<div class="container">
    <!-- START ОСОБЕННОСТИ -->
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{book.title}}
                <a [routerLink]="['/book-available-for-booking', book.bookId]" class="btn btn-success">Забронировать</a>
            </h2>
            <h5><span class="text-muted">ISBN: {{book.isbn}}</span></h5>
            <p class="lead">{{book.description}}</p>
        </div>
        <div class="col-md-5 order-md-1">
            <a href="{{book.url}}"><img src="{{book.url}}" alt="" width="500px" height="500px"></a>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <td>{{book.isbn}}</td>
                    </tr>
                    <tr>
                        <th>Название</th>
                        <td>{{book.title}}</td>
                    </tr>
                    <tr>
                        <th>Дата Публикации</th>
                        <td>{{book.publishDate| date: 'longDate'}}</td>
                    </tr>
                    <tr>
                        <th>Автор</th>
                        <td class="flex-container">
                            <div *ngFor="let book of book.authorsBooks">
                                <a [routerLink]="['/author-books', book.authorId]"
                                    class="link-secondary">{{book.author?.lastName}} {{book.author?.firstName}}
                                    {{book.author?.middleName}}</a> | &nbsp;
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Жанр</th>
                        <td class="flex-container">
                            <div *ngFor="let booksGenres of book?.booksGenres">
                                <a [routerLink]="['/genre-show', booksGenres.genre?.genreId]"
                                    class="link-secondary">{{booksGenres.genre?.type}}</a> | &nbsp;
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Количество страниц</th>
                        <td>{{book.pageCount}}</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- /END ОСОБЕННОСТИ -->
</div>