<div class="container">
    <!-- START ОСОБЕННОСТИ -->
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{book.title}} <span class="text-muted">ISBN: {{book.isbn}}</span></h2>
            <p class="lead">{{book.description}}</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{book.coverImgPath}}" alt="" width="500px" height="500px">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <td>{{book.isbn}}</td>
                    </tr>
                    <tr>
                        <th>Название</th>
                        <td>{{book.title}}</td>
                    </tr>
                    <tr>
                        <th>Дата Публикации</th>
                        <td>{{book.publishDate| date: 'longDate'}}</td>
                    </tr>
                    <tr >
                        <th>Автор</th>
                        <td *ngFor="let book of book.authorList">
                          {{book.lastName}} {{book.firstName}} {{book.MiddleName}}
                        </td>
                    </tr>
                    <tr> 
                        <th>Жанр</th>
                        <td>
                        <select name="" id="">
                        <option *ngFor="let book of book.genreList">{{book.type}}</option> 
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Количество страниц</th>
                        <td>{{book.pageCount}}</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-5">
            <img src="{{book.coverImgPath}}" alt="" width="500px" height="500px">
        </div>
    </div>
    <!-- /END ОСОБЕННОСТИ -->
</div>