<div class="container">
    <div class="row">
        <h2>Детективы. Бестселлеры</h2>
        <div class="col-md-3" *ngFor="let deteciveBook of topDetectiveBooks  | slice:0:4">
            <app-book-card [book]="deteciveBook"></app-book-card>
        </div>
        <h2>Техническая литература для старта карьеры</h2>
        <div class="col-md-3" *ngFor="let technicalBook of topTechnicalBooks | slice:0:4">
            <app-book-card [book]="technicalBook"></app-book-card>
        </div>
    </div>
</div>