<div class="container">
    <div class="row">

        <div class="col-md-5 kt-portlet">
            <div class="kt-portlet__body pb-1">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        
                        <div class="carousel-item" *ngFor="let result of data; let i = index"
                            [ngClass]="{'active': i === 1}">
                            <img src={{result.img}} title={{result.title}} />
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="b_page_block_left"><br><br>
                    <h5 class="card-label"><span class="d-block text-dark">Возрастная группа</span></h5>
                    <p>Библиотека обслуживает все категории населения</p>
                    <hr>
                </div>

                <div class="b_page_block_left">
                    <h5 class="card-label"><span class="d-block text-dark">Заведующий отделом</span></h5>

                    <p>Шестакова Надежда Николаевна</p>
                    <hr>
                </div>

                <div class="b_page_block_left">
                    <h5 class="card-label"><span class="d-block text-dark">Структура библиотеки</span></h5>
                    <p>- Абонемент для взрослых</p>
                    <p>- Детский абонемент</p>
                    <p>- Читальный зал</p>
                    <p>- Игровая комната</p>
                    <hr>
                </div>

                <div class="b_page_block_left">
                    <h5 class="card-label"><span class="d-block text-dark">Книжный фонд</span></h5>

                    <p>14707 экз.</p>

                    <p><!--noindex--><a rel="nofollow" target="_blank" href="#">Электронный каталог</a><!--/noindex-->
                    </p>
                    <hr>
                </div>
                <div class="b_page_block_left">
                    <h5 class="card-label"><span class="d-block text-dark">Адрес библиотеки</span></h5>

                    <p>г. Минск, ул. Большая Внуковская, дом 23</p>
                    <hr>
                </div>

                <div class="b_page_block_left">
                    <h5 class="card-label"><span class="d-block text-dark">Режим работы</span></h5>

                    <p>Вторник - Суббота: 12.00-22.00<br>Воскресенье: 12.00-20.00<br>Понедельник: выходной день.</p>
                    <p>Последняя пятница месяца: санитарный день</p>
                    <hr>
                </div>
                <div class="b_page_block_left">
                    <h5 class="card-label"><span class="d-block text-dark">Контакты</span></h5>

                    <p></p>
                    <p><strong>E-mail:</strong> 221-1@okczao.ru<br><strong>Тел.:</strong> +7(495)436-76-99</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-md-7 kt-portlet">
            <div class="kt-portlet__body pb-1">
                <div class="b_page_block_right">

                    <h5 class="card-label"><span class="d-block text-dark">Как до нас доехать:</span></h5>

                    <p></p>
                    <p>Проезд на автобусе №32 от метро "Рассказовка": 20 минут до остановки "Гостиница" или "Аэропорт
                        Внуково"</p>
                    <p></p>
                    <p><iframe
                            src="https://yandex.ru/map-widget/v1/?scroll=false&amp;um=constructor%3Aw7vYBPv51LC7R7hWIiW4KsTGdq4TQev6"
                            frameborder="0" allowfullscreen="true" width="600px" height="350px"
                            style="display: block;"></iframe></p>
                </div>

                <div class="b_page_block_right">

                    <h5 class="card-label"><span class="d-block text-dark">История библиотеки</span></h5>
                    <p>В 1943 году профсоюзная библиотека аэропорта Минск выделила фонд для создания детской библиотеки,
                        по улице Б. Внуковская, д. 23. В июне 1996 года детская профсоюзная библиотека вошла в состав
                        ЦБС "Солнцево" под №33 и стала комплектоваться как библиотека семейного чтения. В 2014 году в
                        связи с реорганизацией ЦБС «Солнцево», путем объединения библиотек Западного административного
                        округа в Централизованную библиотечную систему ЗАО, библиотека получила новый номер и стала
                        именоваться Библиотекой № 221.</p>

                </div>

            </div>
        </div>

    </div>
</div>