<div class="container">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">{{book?.title}}
                <span class="text-muted">ISBN: {{book?.isbn}}</span>
            </h2>
            <h4 class="flex-container">
                Автор:
                <div *ngFor="let authorsBooks of book?.authorsBooks">
                    &nbsp;{{authorsBooks.author?.firstName}} {{authorsBooks.author?.lastName}}
                    {{authorsBooks.author?.middleName}}
                </div>
            </h4>
            <h6 class="flex-container">
                Жанр:&nbsp;
                <div *ngFor="let booksGenres of book?.booksGenres">
                    &nbsp;{{booksGenres.genre?.type}} |
                </div>
            </h6>
            <p class="lead">{{book?.description}}</p>
            <h4>Достпуно в библиотеках</h4>
            <table class="table table-striped">
                <thead>
                    <th>Название</th>
                    <th>Всего экземпляров</th>
                    <th>В наличии</th>
                    <th>Заказано</th>
                    <th>Забронировать</th>
                </thead>
                <tbody>
                    <tr *ngFor="let bookLibrary of bookLibraries">
                        <td><a routerLink="/library-info/{{bookLibrary.library?.libraryId}}">{{bookLibrary.library?.name}}</a></td>
                        <td>{{bookLibrary.count}}</td>
                        <td>{{bookLibrary.freeBook}}</td>
                        <td>{{bookLibrary.bookedBook}}</td>
                        <td><button type="button" [disabled]="bookLibrary.isFreeBook">Забронировать</button></td>
                       <!-- <a [routerLink]="" href="javascript:void(0)" class="btn btn-primary">Забронировать</a> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>