<div class="container">
    <div class="row">
        <div class="col-sm m-lg-3 mb-2">
            <div class="label">
                <input type="search" class="form-control" placeholder="Поиск книг..." aria-label="Search"
                    [(ngModel)]="bookTitle">
            </div>
        </div>
        <div class="col-sm m-lg-3 mb-2 ">
            <div class="button">
                <button type="button" class="btn btn-primary"
                        (click)="search()">Поиск</button>
            </div>
        </div>
        <app-found-books [bookList]="bookList"></app-found-books>
        <hr>
    </div>