.flex-container {
    display: flex;
}

.ftco-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    display: block;
}

h2,
h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #17b978;
    outline: none !important;
}

h2,
h3 {
    line-height: 1.5;
    color: #263b5e;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}

.project {
    width: 100%;
    height: 330px;
    margin-bottom: 0;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    background: #000000;
    z-index: -1;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.project .text {
    width: 100%;
    z-index: 1;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.project .text h3 {
    font-size: 24px;
    font-weight: 700;
}

.project .text h3 a {
    color: rgb(106, 166, 238);
}

.project:hover .overlay,
.project:focus .overlay {
    opacity: .5;
}

.project:hover .text,
.project:focus .text {
    opacity: 1;
}

.ftco-animate {
    opacity: 0;
    visibility: hidden;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*! CSS Used keyframes */
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    to {
        opacity: 1;
        visibility: visible;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    to {
        visibility: visible;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}